<section class="students">
 <ul class="nav nav-tabs">
  <li class="active" *ngFor="let a of [aVariable]" ><a data-toggle="tab" href="#home"><span class="glyphicon glyphicon-plus" id="icon"></span>Invitation Summary</a></li>
  <li><a data-toggle="tab" href="#menu1" ><span class="glyphicon glyphicon-plus" id="icon"></span>Students</a></li>
  <li><a data-toggle="tab" href="#menu2"><span class="glyphicon glyphicon-plus" id="icon"></span>Student Coordinators</a></li>
</ul>

 <div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    
    Batch : 
    <select class="selectpicker">
  <option>2017</option>
  <option>2018</option>
  <option>2019</option>
</select>     
  <table class="table">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Date</th>
        <th>Invited</th>
        <th>Joined</th>
        <th>Not Joined</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Student.csv</td>
        <td>7-July-17</td>
        <td>7800</td>
        <td>5000</td>
        <td>1400</td>
        <td>400</td>
      </tr>
      <tr>
        <td>Student.csv</td>
        <td>7-July-17</td>
        <td>7800</td>
        <td>5000</td>
        <td>1400</td>
        <td>400</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
   <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
   <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>  
</section>
